[defaults]
inventory = ./hosts.yaml
remote_user = deploy
retry_files_enabled = False
log_path = ./.traces_d_ansible
interpreter_python = auto_silent

# Ajoutons le paramètre nécessaire:
#[privilege_escalation]
#become_ask_pass=true
